<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="target/logging.log"/>
        <param name="DatePattern" value="yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        </layout>
    </appender>
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        </layout>
    </appender>
    <root>
        <level value="INFO"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.swssf">
        <level value="INFO"/>
    </logger>
    <logger name="org.swssf.impl.util">
        <level value="INFO"/>
    </logger>
    <logger name="org.apache.xml.security.utils.DigesterOutputStream">
        <level value="INFO"/>
    </logger>
    <logger name="org.apache.xml">
        <level value="INFO"/>
    </logger>
    <logger name="org.swssf.impl.InputProcessorChainImpl">
        <level value="INFO"/>
    </logger>
    <logger name="org.swssf.impl.OutputProcessorChainImpl">
        <level value="INFO"/>
    </logger>
</log4j:configuration>
